#title{
	color: white;
	background-color:  #DC143C;
	opacity: 60%;
	text-align: center;
  padding: 10px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}
.M{
  background-color: #4CAF50;
}
#ending footer{
	background-color: black; 
	color:white;
	text-align: right;
}
#hello{
	color: black;
	height: auto;
  background-color: #FF69B4;
  padding: 20px;
}
#b{
  text-align: center;
}
footer{
  background-color: black;
  color: white;
  text-align: right;
}