#title{
	color: white;
	background-color:  #DC143C;
	opacity: 60%;
	text-align: center;
  padding: 10px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


/* Change the link color to #111 (black) on hover */
li a:hover, .dropm:hover .dropbtn {
  background-color: #111;
}
li.dropm {
  display: inline-block;
}

.M{
  background-color: #4CAF50;
}
#ending footer{
	background-color: black; 
	color:white;
	text-align: right;
}
#hello{
   margin: auto;
  width: 60%;
  padding: 20px;
  background-color: #aec6cf 

}
#b{
  text-align: center;
}
footer{
  background-color: black;
  color: white;
  text-align: right;
}

