ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}
#sub1
{
   margin: auto;
  width: 60%;
 
  background-color: #7CFC00; 
}
#sub2
{
  margin: auto;
  width: 60%;
  padding: 20px;
  background-color: #aec6cf 
}
.W{
  background-color: #4CAF50;
}
#w2
{
   margin: auto;
  width: 60%;
  background-color: #aec6cf ;
}
#w3
{
   margin: auto;
  width: 60%;
  padding: 20px;
  background-color: #aec6cf 
}
#w4
{
   margin: auto;
  width: 60%;
  padding: 20px;
  background-color: #aec6cf 
}
#w5
{
   margin: auto;
  width: 60%;
  padding: 20px;
  background-color: #aec6cf 
}
#e3
{
 margin: auto;
 width: 60%;
  background-color:  #7CFC00;
}
#e2
{
   margin: auto;
 width: 60%;
  background-color:  #7CFC00;
}
#tab
{
  margin: auto;
  width: 60%;
  padding: 20px;
  background-color: #aec6cf 
}
#tt
{
  margin: auto;
  width: 60%;
  padding: 20px;
  background-color: #aec6cf 
}